@model OOAD_assignment_1.Models.Accountability

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Accountability</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CommissionerId" />
            <input type="hidden" asp-for="AccountableId" />
            <div class="form-group">
                <label class="control-label">Commisioner</label>
                <select asp-for="CommissionerId" class="form-control" asp-items="ViewBag.CommisionerName"></select>
                <span asp-validation-for="CommissionerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Accountable</label>
                <select asp-for="AccountableId" class="form-control" asp-items="ViewBag.ResponsibleName"></select>
                <span asp-validation-for="AccountableId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Accountability Type</label>
                <select asp-for="AccountabilityTypeId" class="form-control" asp-items="ViewBag.Description"></select>
                <span asp-validation-for="AccountabilityTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
